<!DOCTYPE html>
<html>
    <head>
        <title>CME Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <style>
            body,h1 {font-family: "Raleway", sans-serif}
            body, html {height: 100%}
            .bgimg {
                background-image: url("/else/wall.jpg");
                min-height: 100%;
                background-position: center;
                background-size: cover; 
            }
            a:hover {
                /* font-family: Ariel; */
                color:rgb(187, 221, 231);
            }
 .prev-button {
   
   left: 26%;
   top: 52%;
  
}
        </style>
    </head>
<body>
        <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
                <div class="w3-display-topleft w3-padding-large w3-xlarge">
  
            <a href="/game/levels"> <!--prev-->
                <img border="0" src="/else/prev.png" class="prev-button" style="text-decoration:none;width:40px; height:40px">
                </a>
            <a href="/">
                <img border="0" src="/else/home.png" class="main-title" style="text-decoration:none;width:40px; height:40px">
                </a>
       <!-- <a href="/" style="text-decoration:none;font-size: 40px;"></a>   -->     
    </div>
    <div class="w3-row-padding w3-center">
        <div class="w3-container">
            <h2>בנים</h2>
            <div class="w3-card-4">
                <a href="/game/levels/types/boys" style="text-decoration:none;">
                    <img src="https://dettoldisney.files.wordpress.com/2014/12/hans-frozen-35919726-1200-1200.png" alt="Norway" style="width:250px;height:250px">                       
                </a>
            </div>
        </div>
        <br />
        <div class="w3-container">
            <h2>בנות</h2>
            <div class="w3-card-4">
                <a href="/game/levels/types/girls" style="text-decoration:none;">                
                    <img src="http://media.frozen-games.net/iconMenu/anna1494575065.png" alt="Norway" style="width:270px;height:270px">
                </a>
            </div>
        </div>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
        Powered by CME
    </div>
    </div>
</body>
</html>
